.account {
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin: auto;
    justify-content: space-evenly;
}

.command-area {
    grid-column: span 2;
}

.account>* {
    /* flex-grow: 1; */
    width: 100%;
    padding: 50px 10px;
}