.restaurant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    cursor: pointer;
}

.restaurant:hover {
    scale: 1.05;
}

.content {
    flex: 1;
}